.body__closed {
  height: 100%;
  overflow: hidden;
}
.modal {
  background: #333537;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -10;
  transition: 0.5s;
}

.modal__opened {
  opacity: 1;
  z-index: 10;
}

.modal__close {
  position: absolute;
  top:0;
  right: 0;
  margin: rem(42px);
}

.close__icon {
  width: rem(24px);
  height: rem(24px);
}