.btn {
    padding: rem(21px) rem(41px);
    align-items: center;
    gap: rem(10px);
    border-radius: rem(100px);
    background: var(--yellow, #FEDB3F);
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Alegreya Sans;
    font-size: rem(16px);
    font-style: normal;
    font-weight: 800;
    line-height: rem(18px); /* 112.5% */
    border: none;
    text-transform: uppercase;



    &:hover{
        background: #FFD517;
    }


    &-reset {
        background: transparent;
        color: #fff;
        text-transform: none;
        padding-left: rem(19px);

        @include tablets {
            margin-right: rem(63px);
            margin-left: 0;
            padding-left: rem(40px);
        }

        &:hover {
            background: transparent;
            color: gray;
        }
    }

}

.btn--tablets {
    @include tablets {
        margin-left: rem(94px);
    }
}