.headline {
    text-align: center;
}
.headline__title {
    margin-bottom: rem(14px);
    
}
.headline__subtitle {
    padding: 0 29%;
    margin-bottom: rem(43px);

    @include tablets {
        padding: 0 22%;
    }

    @include phones {
        padding: 0 2%;
     }
}
