.hero {
    background: url("../img/bg.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    background-color: #1968B1;
    min-height: 100vh;
    color: #FFFFFF;
    max-height: 652px;

}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 22px;
    padding-bottom: 63px;
}
.hero__title-section {
    width: 46%;
}
.hero__main-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 17px;
}
.hero__title-desc {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 60px;
}
